body{
    margin:0px;
    box-sizing: border-box;
}

.topbar{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:75px;
}

.leftpanel{
    position:fixed;
    left:0px;
    top:75px;
    bottom:0px;
    width:500px;
}

#datacollections
{
    overflow-y: scroll;
    position:fixed;
    bottom:0px;
    left:10px;
    width:490px;
    top:150px;
}

.contentpanel{
    position:fixed;
    left:500px;
    top:75px;
    bottom:0px;
    right:0px;
}

.treeitem{
    margin-top:5px;
    cursor:pointer;
}

.treechildren{
    padding-left:15px;
}

#notifications{
    position:fixed;
    right:10px;
    top:10px;
}